.playlists ul{
	list-style-type: none;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top:5px;
}
.playlists .playlist:hover{
	text-decoration: none;
}
.listname{
	display: none;
}
.listname div{
	display: inline-block;
}
.listname input{
	width:100px;
}

