body {
    width: 250px;
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
}
#current_song{
	margin-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #C0C0C0;
}
#current_song h4{
	margin-bottom: 3px;
	font-size: 15px;
}
#icons{
	margin-left: 40px;
	margin-top: 5px;
}
#icons #ytprev{
	margin-left: 0px;
}
#icons #ytplay{
	margin-left: 0px;
}
#icons #ytpause{
	margin-left: 0px;
}
#icons #ytnext{
}
.icon button{
	padding:0px;
	border-style:none;
}
.icon button .imgLeft{
	padding-left: 8px;
	margin-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.imgMiddle{
	padding-left: 7px;
	margin-left: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.imgRight{
	padding-left: 6px;
	margin-left: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
}
ul .icon{
	display:inline;
}
.volume{
	width: 200px;
	margin-left:25px;
}
#table{
	height:300px;
	overflow-y: auto;
	overflow-x:hidden;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    /*background: #006dcc; 
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #006dcc; 
}

#songTable{
	margin-bottom:2px;
}
#songTable .icon-remove{
	position: absolute;
	top: 3px;
	left: 215px;
	cursor:pointer;
}
#songTable td{
	padding-top: 1px;
	padding-bottom: 1px;
	position: relative;
}
#songTable td a:link{
	color: black;
}
#songTable td a:hover{
	text-decoration: none;
	color:blue;
}
.button-list{
	list-style-type: none;
}
.button-list li{
	display: inline;
}
.key_field{
	display: none;
}
.transparent{
	background-color:transparent;
	border:0px solid blue;
	border-bottom-color:transparent;
}

.transparent:focus{
	outline: none;
}